# Simulation output directories
RandomDraw_*/
job-outs/
BEGE_GARCH/Constant_BEGE/output/
BEGE_GARCH/BadGood_BEGE/output/
BEGE_GARCH/InflationDeflation_BEGE/output/
BEGE_GARCH/Symmetric_BEGE/output/
BEGE_GARCH/Full_BEGE/output/



# Python
__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/

# OS / editor
.DS_Store
*.swp
.vscode/

# MyST build outputs
_build


.venv/
venv/
